<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users All</title>
</head>
<body>
<form action="/api/users" method="post">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
</div>
<div class="form-group">
    <label for="email" name="email" class="form-control"></label>
    <input type="email" name="email" class="form-control">
</div>
<br><br>
<input type="submit" value="Add User" class="btn btn-success btn-block">
</form>
<br><br>

    <h1 class="text-center">{{{title}}}</h1>
    <h4>Users All</h4>
<ul class="list-group">
    {{#each users}}
<li class="list-group-item">Name : {{this.name}} | Email: {{this.email}}</li>
{{/each}}
</ul>
<br>
<a href="/api/users" target="_blank" class="btn btn-secondary">Visit API</a>
</body>
</html>